@{
    ViewBag.Title = "Nat";
}

<script>
    $('#myTab a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
<div class="jumbotron TopContentdiv">

    <h1 align="center"> someone eles is </h1>
    <p style="text-align:center;font-size:100px;">EXIT SCAMMING</p>
    <p style="text-align:center;font-size:80px;text-emphasis-color:rebeccapurple">1336.8267</p>
    <p style="text-align:center;font-size:50px;text-emphasis-color:rebeccapurple">+ Pre-Seed: 5452.9361</p>
    <p style="text-align:center;font-size:50px;text-emphasis-color:rebeccapurple">= Total: 6789.7628</p>

    <p style="text-align:center;font-size:50px;text-emphasis-color:rebeccapurple">02:30:43</p>

</div>

<div class="row">
    <div class="col-md-6 ">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="margin-top:0px;" id="docTabs">
                <li role="presentation" class="active">
                    <a href="#Section_new"
                       aria-controls="home" role="tab" data-toggle="tab">Purchase</a>
                <li role="presentation">
                    <a href="#Section_week"
                       aria-controls="profile" role="tab" data-toggle="tab">Vault</a>
                <li role="presentation">
                    <a href="#Section_month"
                       aria-controls="messages" role="tab" data-toggle="tab">Vanity&Referrals</a>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Section_new">
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section_week">
                    <p>
                        test
                    </p>
                    <h1>fdsafdsa</h1>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section_month">
                    <p>
                        test
                    </p>
                    <h1>fdsafdsa</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="margin-top:0px;" id="docTabs">
                <li role="presentation" class="active">
                    <a href="#Section_new"
                       aria-controls="home" role="tab" data-toggle="tab">Round</a>
                <li role="presentation">
                    <a href="#Section_week"
                       aria-controls="profile" role="tab" data-toggle="tab">Teams</a>
                <li role="presentation">
                    <a href="#Section_month"
                       aria-controls="messages" role="tab" data-toggle="tab">Recent Players</a>
                <li role="presentation">
                    <a href="#Section_month"
                       aria-controls="messages" role="tab" data-toggle="tab">Stats</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Section_new">
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                    <p>
                        fdsa
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section_week">
                    <p>
                        test
                    </p>
                    <h1>fdsafdsa</h1>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section_month">
                    <p>
                        test
                    </p>
                    <h1>fdsafdsa</h1>
                </div>
            </div>
        </div>
    </div>

</div>
